.App {
  text-align: center;
}

.taskboard {
  /* Выстраиваем колонки-статусы в строку */
  display: flex;
}

.status {
  /* Заполняем экран по ширине */
  flex: 1;
  padding: 20px;
  border: 1px solid lightgrey;
  margin: 10px;
}

.task {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: white;
  cursor: pointer;
}